programs/__pycache__/functions.cpython-313.pyc
programs/__pycache__/functions.cpython-313.pyc
cluster-data/bananas-1-2d.csv
cluster-data/bananas-1-4d.csv
cluster-data/bananas-2-2d.csv
cluster-data/bananas-2-4d.csv
cluster-data/bananas-5-2d.csv
cluster-data/bananas-5-4d.csv
cluster-data/cod-rna.csv
cluster-data/cod-rna.small.csv
cluster-data/crosses-2d.csv
cluster-data/s2-4.10000.test.csv
cluster-data/sample-1-77k.csv
cluster-data/toy-2d.csv
cluster-data/toy-3d.csv
cluster-data/toy-4d.csv
cluster-data/toy-10d.csv
cluster-results/team-7-bananas-1-2d.log
cluster-results/team-7-bananas-1-2d.result.csv
cluster-results/team-7-bananas-1-2d.result.log
cluster-results/team-7-bananas-1-2d.result.png
cluster-results/team-7-bananas-1-2d.train.png
cluster-results/team-7-bananas-5-2d.log
cluster-results/team-7-bananas-5-2d.result.csv
cluster-results/team-7-bananas-5-2d.result.log
cluster-results/team-7-bananas-5-2d.result.png
cluster-results/team-7-bananas-5-2d.train.png
cluster-results/team-7-cod-rna.log
cluster-results/team-7-cod-rna.result.csv
cluster-results/team-7-cod-rna.result.log
cluster-results/team-7-toy-3d.log
cluster-results/team-7-toy-3d.result.csv
cluster-results/team-7-toy-3d.result.log
cluster-results/team-7-toy-3d.result.png
cluster-results/team-7-toy-3d.train.png
cluster-results/team-7-toy-10d.log
cluster-results/team-7-toy-10d.result.csv
cluster-results/team-7-toy-10d.result.log
programs/__pycache__/functions_balltree.cpython-312.pyc
programs/__pycache__/scipy_clustering.cpython-312.pyc
