programs/__pycache__/
cluster-data/
cluster-results/
weekly_status/
Teil 2_ Klassifikationsdatensätze
programs/cluster copy.py
programs/functions copy.py
programs/functions copy 2.py
programs/functions copy 3.py
programs/functions copy 4.py
programs/functions copy 5.py
programs/functions copy 6.py
programs/functions copy 7.py
programs/functions copy 8.py
programs/functions copy 9.py
programs/functions_old.py
programs/profile_results
programs/profile_results copy
programs/profile_results_id1
programs/profile_results_id2
programs/profile_results_neu01